<div>
  <form *ngIf="formGroup" class="formgrid" [formGroup]="formGroup">
    <div
      *ngIf="editMode"
      class="field mb-0 col col-12 lg:col-12 md:col-12 sm:col-12"
    >
      <label class="col col-12 lg:col-6 md:col-6 sm:col-12" for="id">{{
        "USERS.FORM.USER_ID" | translate
      }}</label>
      <input
        class="col col-12 lg:col-6 md:col-6 sm:col-12"
        type="number"
        formControlName="id"
        readonly
      />
    </div>
    <div class="field mb-0 col col-12 lg:col-12 md:col-12 sm:col-12">
      <label class="col col-12 lg:col-6 md:col-6 sm:col-12" for="firstName">{{
        "USERS.FORM.FIRST_NAME" | translate
      }}</label>
      <input
        class="col col-12 lg:col-6 md:col-6 sm:col-12"
        type="text"
        [ngClass]="{
          'ng-invalid ng-dirty':
            formGroup.get('firstName')?.errors && formGroup.touched
        }"
        formControlName="firstName"
      />
      <gico-error-messages
        [control]="formGroup.get('firstName')"
      ></gico-error-messages>
    </div>
    <div class="field mb-0 col col-12 lg:col-12 md:col-12 sm:col-12">
      <label class="col col-12 lg:col-6 md:col-6 sm:col-12" for="lastName">{{
        "USERS.FORM.LAST_NAME" | translate
      }}</label>
      <input
        class="col col-12 lg:col-6 md:col-6 sm:col-12"
        type="text"
        formControlName="lastName"
      />
      <gico-error-messages
        [control]="formGroup.get('lastName')"
      ></gico-error-messages>
    </div>
    <div class="field mb-0 col col-12 lg:col-12 md:col-12 sm:col-12">
      <label class="col col-12 lg:col-6 md:col-6 sm:col-12" for="email">{{
        "USERS.FORM.EMAIL" | translate
      }}</label>
      <input
        class="col col-12 lg:col-6 md:col-6 sm:col-12"
        type="email"
        formControlName="email"
      />
      <gico-error-messages
        [control]="formGroup.get('email')"
      ></gico-error-messages>
    </div>
  </form>

  <div class="buttons-right">
    <button
      *ngIf="editMode"
      class="p-button button button-raised button-text"
      type="button"
      (click)="cancel()"
    >
      <label> {{ "COMMON.CANCEL" | translate }} </label>
    </button>
    <button
      class="primary-button button p-button button-raised"
      type="submit"
      (click)="submit(formGroup)"
    >
      <label>{{ "COMMON.SAVE" | translate }} </label>
    </button>
  </div>
</div>
