/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~primeflex/primeflex.css";
@import "primeicons/primeicons.css";

$primary-color: #2563eb;

.primary-button {
  background: $primary-color;
  background-color: $primary-color;
  color: white;
  border-radius: 6px;
  border-color: $primary-color;
  font-size: 1rem;
}

button.button-raised {
  box-shadow: 0 3px 1px -2px #0003,0 2px #00000024,0 1px 5px #0000001f;
}

button.button-text {
  background-color: transparent;
  color: $primary-color;
  border-color: transparent;
  font-size: 1rem;
}

.button.button-text:not(:disabled):hover {
  background: rgba(59, 130, 246, 0.04);
  color: $primary-color;
  border-color: transparent;
}

.container {
  margin: 2rem 6rem;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eff3f8;
}

input.ng-invalid.ng-dirty {
  border-color: red;
}

.error {
  color: red;
}

input[readonly] {
  background-color: #f0f0f0;
}

form label {
  font-weight: bold;
}

button.button label {
  font-weight: 700;
  cursor: pointer;
}